---

---

@import "minima";

/* === Your custom CSS overrides go below === */

.site-header {
  background: #bcddff35;
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-footer {
  background: #bcddff35;
  padding-top: 20px;
  padding-bottom: 20px;
}

